﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../New_Page_3_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:117px;
    width:285px;
    height:223px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:285px;
    height:223px;
}

.u1 {
    position:absolute;
    left:2px;
    top:104px;
    width:281px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

