﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Cheat_Sheet_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:44px;
    width:320px;
    height:320px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:326px;
}

.u1 {
    position:absolute;
    left:2px;
    top:152px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:0px;
    top:364px;
    width:320px;
    height:96px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:96px;
}

.u3 {
    position:absolute;
    left:2px;
    top:40px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Cheat_Sheet_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:20px;
    top:60px;
    width:70px;
    height:60px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:60px;
}

.u5 {
    position:absolute;
    left:2px;
    top:22px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:110px;
    top:85px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Cheat_Sheet_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

.u8 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Cheat_Sheet_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:8px;
    width:43px;
    height:28px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:49px;
    height:34px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_container {
    position:absolute;
    left:21px;
    top:13px;
    width:24px;
    height:18px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:18px;
}

.u12 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:85px;
    top:2px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:85px;
    top:28px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:85px;
    top:15px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:20px;
    top:135px;
    width:281px;
    height:216px;
    overflow:hidden;
}

#pd0u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:281px;
    height:216px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:405px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

